<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>
<body>
    <main>
        <div>
            <a href="http://127.0.0.1:5000/" ><img class="Icon" src="static/images/icon2.png" alt="Search Engine Icon"></a>
        </div>
        <form action="/search_results" method="get">
            <input class="Searchbox" type="text" placeholder="Search Here" name="query">
            <input class="button" type="submit" value="Search" name="search">
        </form>

    </main>

</body>
</html>