@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@300&display=swap");

body {
  background: linear-gradient(
    -45deg,
    rgb(13, 18, 41),
    #190d36,
    #084e68,
    rgb(7, 34, 83)
  );
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*no scroll-bar*/
body {
  overflow-y: scroll;
  cursor: context-menu;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* no scroll bar ended*/

.take_query_home {
  border-radius: 20px;
  outline: none;
  padding-left: 5px;
  border: 3px solid rgb(78, 94, 238);
  width: 500px;
  height: 50px;
}

.button_submit_home {
  background-color: rgb(78, 94, 238);
  border-radius: 15px;
  border: none;
  outline: none !important;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: 0.3s all ease-in-out;
}

.button_submit:hover {
  transition: 0.3s all ease-in-out;
  background-color: white;
  color: rgb(78, 94, 238);
}



/* RESULT PAGE */

.meta-box {
  background-image: linear-gradient(
    to right,
    rgba(39, 39, 39, 0.15),
    rgba(39, 39, 39, 0.15)
  );
  box-shadow: inset 0 0 40px rgba(131, 131, 131, 0.055);
  border-radius: 10px;
  padding: 10px;
}

.take_query_search {
  width: 500px;
  border-radius: 20px;
  border: 3px solid rgb(78, 94, 238);
  outline: none;
  padding-left: 5px;
  height: 50px;
}

.button_submit_search {
  background-color: rgb(78, 94, 238);
  border-radius: 15px;
  border: none;
  margin-left: 10px; 
  outline: none !important;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  padding: 10px;
  transition: 0.3s all ease-in-out;
  height: 50px;
}

.button_submit_search:hover {
  transition: 0.3s all ease-in-out;
  background-color: white;
  color: rgb(78, 94, 238);
}

.search-results-container{
  margin-left: 50px;
}

.work_search{
  margin-left: 40px;
}

@media screen and (max-width: 530px) {
  .take_query_search,
  .take_query_home {
    width: 400px;
  }
  .button_submit_search{
    margin-left: 10px;
  }
  .search-results-container{
    margin-left: 10px;
  }
  
  .work_search {
    margin-left: 10px;
  }

}

@media screen and (max-width: 430px) {
  .take_query_search, .take_query_home {
    width: 370px;
  }

  .button_submit_search {
    margin-left: 10px;
  }

  .search-results-container {
    margin-left: 5px;
  }
  
  .work_search {
      margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
  .take_query_search, .take_query_home {
    width: 350px;
  }

  .button_submit_search {
    margin-left: 10px;
  }

  .search-results-container {
    margin-left: 5px;
  }

  .work_search {
    margin-left: 10px;
  }
}

@media screen and (max-width: 380px) {
  .take_query_search, .take_query_home {
    width: 320px;
  }

  .button_submit_search {
    margin-left: 10px;
  }

  .search-results-container {
    margin-left: 2px;
  }
  
  .work_search {
    margin-left: 10px;
  }
}

.submit-button{
  position: relative;
}
