<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sum</title>
  </head>
  <body>
    <form action = "/sum">
        <label for="fnum">First number:</label>
        <input type="text" name="fnum">
        <label for="snum">Second number:</label>
        <input type="text" name="snum">
        <input type="submit">
        </form>
  </body>
</html>