{% extends 'base.html'%}

{% block content %}
<!-- WORKING STARTS HERE -->

<div class="work container" style="margin-top: 250px">
    <center>
        <h2 style="font-size: 72px; font-weight:bold;">GLUGLE   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg></h2>
        <form action="/results">
          
             
            <input class="take_query" type="text"   name="search"><br />
            <button class="button_submit" type="submit"><i class="bi bi-search"></i>Search</button>
          
        </form>
        <br><br>

    </center>
</div>

{% endblock %}