{% extends 'base.html'%}

{% block content %}
<!-- WORKING STARTS HERE -->

<div class="work container" style="margin-top: 250px">
    <center>
        <h2 style="font-size: 72px; color:rgb(82, 236, 198); font-weight: bold;">Flearch</h2>
        <form action="/search_results">
            <input class="take_query_home" type="text" placeholder="  type what you want to seacrh for" name="search"><br/>
            <button type="submit" class="search-btn-home"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg></button>
        </form>
        <br><br>
        <h3 class="text-muted">Flearch the way we search</h3>
    </center>
</div>



<div class="container about-page" style="margin-top: 50px">
    <center>
        <hr>
<p style="font-family: 'Montserrat Alternates', sans-serif;font-weight: bold;font-size: 20px">
    Flearch is a fully functional search engine made using Python Programming Language. It displays search results based on a
    textual search query. MongoDB is used as database in the project. Several python libraries including BeautifulSoup,
    Pymongo and Requests are utilized and the web application is created using Flask.
</p><br>
    </center>
<p style="font-family: 'Comfortaa', cursive;font-weight: bold;font-size: 20px">
    Tech-Stacks Used :
    <ul>
        <li style="font-family: 'Comfortaa', cursive;font-weight: bold;font-size: 20px">Python Programming Language</li>
        <li style="font-family: 'Comfortaa', cursive;font-weight: bold;font-size: 20px">MongoDB</li>
        <li style="font-family: 'Comfortaa', cursive;font-weight: bold;font-size: 20px">Flask</li>
    </ul>
</p>
</div>


{% endblock %}
