<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/result.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="../static/assets/glugle.svg" />
    <title>Glugle</title>
  </head>
  <body>
    <div class="top_bar">
      <div class="logo logo_top"><h1>Glugle</h1></div>
      <!-- <div class="search_container"> -->
      <form class="top_bar_form" action="" method="get">
        <div class="search_input">
          <input
            type="text"
            name="query"
            class="search_box"
            id="search_box"
            placeholder="Enter your search query"
          />
          <button type="submit" class="search_btn">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      <!-- </div> -->
    </div>
    <div class="main_content">
      <ul class="card">
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
        <li>
          <a class="url" href="#">https://some_random_url.com</a>
          <h3><a href="#">https://some_random_url.com</a></h3>
          <div class="description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur
            temporibus eius tenetur voluptatibus aspernatur impedit maxime
            officiis ratione, dolorum perferendis voluptatum. Ipsam molestiae
            nostrum minus consectetur blanditiis repellat quis fugiat.
          </div>
        </li>
      </ul>
      <ul class="pagination">
        <li class="clickable"><i class="fa fa-caret-left"></i></li>
        <li>Page Number</li>
        <li class="clickable"><i class="fa fa-caret-right"></i></li>
      </ul>
    </div>
  </body>
</html>
