body{
    margin: 0;
    font-family: sans-serif;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}

form{
    padding: 16px;
}

input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }