{% extends "homepage.html" %}
{% block content %}
<div class="main container">
    <center>
        <h1 class="lab">GLUGLE</h1>
        <div class="searchBox">
            <form action="/search_results">
         
           
            <input type="text" class="search" placeholder="Search Here" name="gold">
            <input type="submit"style="padding:10px;margin-top:20px; background:white;
            border: none;
            outline: none;
            padding: 8px 14px;
            color:rgb(32, 22, 117);
            font-size: 14px;
            font-weight: 700;
            border-radius: 15px;">
           </form>
          

        </div>

    </center>
</div>
{% endblock %}