<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section>
        <div clss="main">
            <img src="ask1.png" style="width:200px;height:100px;">
            <div class="searchbox">
                <input type="text" class="search" style="width:200px;">
                <div class="icons">
                    <div><img src="searchlogo.png"></div>
                </div>
            </div>
            <div class="buttons">
                <button>CLICK to SEARCH</button>
            </div>
        </div>
    </section>
</body>
</html>
