<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/search.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="../static/assets/glugle.svg" />
    <title>Glugle</title>
  </head>
  <body>
    <div class="top_bar">
      <div class="logo logo_top"><h1>Glugle</h1></div>
      <form class="top_bar_form" action="/search" method="get">
        <div class="search_input">
          <input
            type="text"
            name="query"
            class="search_box"
            id="search_box"
            placeholder="Enter your search query"
            value="{{query_text}}"
          />
          <button type="submit" class="search_btn">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
    </div>
    <div class="main_content">
      {% if total > 0 %}
      <div class="pagination_info">{{ pagination.info|safe }}</div>
      {% else %} No results found! {% endif %}
      <ul class="card">
        {% for result in search_results %}
        <li>
          <a class="url" href="{{result['url']}}">{{result['url']}}</a>
          <h3><a href="{{result['url']}}">{{result['title']}}</a></h3>
          <div class="description">{{result['description']}}</div>
        </li>
        {% endfor %}
      </ul>

      {{ pagination.links|safe }}
    </div>
  </body>
</html>
