{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form class="" name="search" action="/search_results">
    <div class="input-group">
      <input type="text" class="form-control" name="search" placeholder="search...">
      <button type="submit" class="btn btn-success">Search</button>
    </div>
  </form>

  <div class="">
    <p><b>Search result for '{{search_string}}'</b></p>
  </div>

  {% if search_result %}
  <!-- {% print("Search page: ", search_result) %} -->
  {% for link in search_result %}
  <div class="">

    <div class="">
      <strong><a href="{{ link.url }}" target="_ blank">{{ link.title }}</a></strong>
    </div>

    <div class="col">
      <a href="{{ link.url }}" target="_blank">{{ link.url }}</a>
      <p>{{ link.description[:300] }}...</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <b>No results found</b>
  {% endif %}

  <div class="">
    {{pagination.links}}
  </div>
</div>

{% endblock %}